div.welcomescreen {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url("../img/welcome.jpg");
}

.welcomescreen_mask {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(51, 51, 102, 0.3);
}

div.homesearchholder {
	position: relative;
	width: 50%;
	margin: 0 auto;
	padding-top: 200px;
}

h1.welcometext {
	font-size: 32px;
	color: #ffffff;
	margin: 0;
}

.searchholder {
	position: relative;
	width: 100%;
	height: 100px;
	margin-top: 30px;
}

div.searchinput_holder {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

.seachinputstyle {
	position: relative;
	width: 100%;
	height: 30px;
	border-radius: 45px;
	border-style: solid;
	border-color: #ffffff;
	border-width: 2px;

	background-color: rgba(255,255,255,1.0);
	/*color: #707070;*/
	/*30ca68*/
	/*background-color: rgba(48,202,104,1.0);*/
	color: #707070;
	/*color: #ffffff;*/

	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
	left: -20px;
}

div.submitsearch_holder {
	position: relative;
	width: 80px;
	height: 30px;
	margin: 20px auto;
}

.submitsearch {
	position: relative;
	/*width: 80px;*/
	height: 40px;
	border-radius: 20px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 1);
	border-width: 0px;
	background-color: rgba(102,178,255,0.8);
	color: #ffffff;
	font-size: 16px;
	padding-left: 30px;
	padding-right: 30px;
	/*font-family: gotham_bold;*/
	left:-30px;
}

.submitsearch:hover {
	background-color: rgba(102,178,255,1);
}

div.homecontent {
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 80px;
	padding-bottom: 100px;
}

div.homecontent_holder {
	position: relative;
	padding-top: 20px;
	width: 1060px;
	margin: 0 auto;
}

.titletext {
	font-size: 28px;
	font-family: gotham_bold;
	color: #505050;
}



