@font-face {
	font-family: gotham_bold;
	src:url("font/vnf-gotham-book.ttf") format("truetype");
}

@font-face {
	font-family: gotham_thin;
	src:url("font/gotham_thin.ttf") format("truetype");
}

@font-face {
	font-family: montserrat;
	src:url("font/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
	font-family: pacifico;
	src:url("font/pacifico.ttf") format("truetype");
}

@font-face {
	font-family: roboto;
	src:url("font/roboto_thin.ttf") format("truetype");
}

@font-face {
	font-family: opensans;
	src:url("font/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: opensans_light;
	src:url("font/OpenSans-Light.ttf") format("truetype");
}

html {
	height: 100%;
	font-family: opensans;
}

body {
	background-color: #ffffff;
	padding: 0;
	margin: 0;
	height: 100%;
}

div.wholescreen {
	/*height: 100%;
	width: 100%;*/
}

p.title {
	font-family: gotham_bold;
	margin: 0;
	padding: 0;
}

p.centertext {
	line-height: 60px;
}