.white {
	color: #ffffff;
}

.darkgray {
	color: #505050;
}

.green {
	color: #30ca68;
}

.blue {
	color: #3080CA;
}

.greenback {
	background-color: #30ca68;
}

.lightgrayback {
	background-color: #fafafa;
}

.whiteback {
	background-color: #ffffff;
}

.greenback {
	background-color: #30ca68;
}

.fontgothambold {
	font-family: gotham_bold;
}

.fontcontent {
	font-family: opensans;
}