.white {
	color: #ffffff;
}

.darkgray {
	color: #505050;
}

.green {
	color: #30ca68;
}

.blue {
	color: #3080CA;
}

.greenback {
	background-color: #30ca68;
}

.lightgrayback {
	background-color: #fafafa;
}

.whiteback {
	background-color: #ffffff;
}

.blueback {
	background-color: #3080CA;
}

.fontgothambold {
	font-family: gotham_bold;
}

.fontcontent {
	font-family: opensans;
}

.fontwelcome {
	font-family: opensans_light;
}

.fontroboto {
	font-family: roboto;
}

a.menu {
	text-decoration: none;
}